* {
	margin: 0;
	padding: 0;
}
#app {
	background: #222;
	height: auto;
	min-height: 24.15vw;
}
#footer {
	background: #222;
	height: auto;
}
#header, #main{
	padding: 0vw 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}
img {
	height: 3.5vw;
	width: auto;
	margin: 0.5vw;
	margin-right: -3vw;
}
#navbar_item {
	margin-top: 1.3vw;
	margin-right: 15vw;
}
a {
	text-decoration: none;
	height: 100%;
	color: #fff;
	font-size: 1vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}
a:hover{
	border-radius: 8px;
	background-color: rgba(256,256,256,0.1);
}
#main {
	height: auto;
	padding-top: 3vw;
}
#col {
	margin-right: 0;
	width: 30%;
	height: auto; 
	margin: 0vw 30vw;	
	text-decoration: none;
	height: 100%;
	color: #fff;
	font-size: 1vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

#footer {
	padding: 0vw 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

#row1_foot {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#row1_col1_foot {
	width: 60%;
}

#row1_col2_foot {
	width: 30%;
}
#content {
	height: 100%;
	color: #fff;
	font-size: 0.8vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

#content_col2 {
	height: auto;
	color: #fff;
	font-size: 0.8vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.storeImg {
	height: 2.5vw;
	width: auto;
	margin: 0.1vw;
}

.imgStoreLink {
	margin-right: 1vw;
}

.social {
	height: 3vw;
	width: auto;
	margin: 0.1vw;
}
.imgSocialLink {
	margin-right: 2vw;
}

#row2_foot {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.row2_col {
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	margin: 0vw 5vw;
}
.row2_col > span {
	margin-bottom: 0.8vw;
}
#foot_copyright {
	margin-top: -1.5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#foot_copyright > p {
	color: #fff;
	font-size: 0.5vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}
hr {
	margin: 2vw 0;
}
.teamsRef, .compRef{
	margin-bottom: 3vw;
	text-align: center;
	height: auto;
}
.imgTeams {
	margin: 0vw 1vw 0vw -4vw;
	height: 2vw;
	width: auto;
}
.dateMatch {
	width: 8vw;
	height: auto;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 1vw 0vw 1vw 9vw;
	text-align: center;
}
.matchDescription {
	text-align: center;
}
.resultMatch{
	width: 5vw;
	height: auto;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 1vw 0vw 1vw 10.5vw;
	text-align: center;
	background: #bbb;
	color: #000;
}