* {
	margin: 0;
	padding: 0;
}
#app {
	background: #222;
	height: auto;
	min-height: 70vh;
}
#footer {
	background: #222;
	height: auto;
}
#header{
	padding: 0vw 5vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#main{
	padding: 0vw 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
img {
	height: 3.5vw;
	width: auto;
	margin: 0.5vw;
	margin-right: -3vw;
}
#navbar_item {
	margin-top: 1.3vw;
	margin-right: 15vw;
}
a {
	text-decoration: none;
	height: 100%;
	color: #fff;
	font-size: 1vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}
a:hover{
	border-radius: 8px;
	background-color: rgba(256,256,256,0.1);
}
#main {
	height: auto;
	padding-top: 3vw;
}
#col {
	margin-right: 0;
	width: 30%;
	height: auto; 
	margin: 0vw 30vw;	
	text-decoration: none;
	height: 100%;
	color: #fff;
	font-size: 1vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

#footer {
	padding: 0vw 5vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

#row1_foot {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

#row1_col1_foot {
	width: 60%;
}

#row1_col2_foot {
	width: 30%;
}
#content {
	height: 100%;
	color: #fff;
	font-size: 0.8vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

#content_col2 {
	height: auto;
	color: #fff;
	font-size: 0.8vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.storeImg {
	height: 2.5vw;
	width: auto;
	margin: 0.1vw;
}

.imgStoreLink {
	margin-right: 1vw;
}

.social {
	height: 3vw;
	width: auto;
	margin: 0.1vw;
}
.imgSocialLink {
	margin-right: 2vw;
}

#row2_foot {
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.row2_col {
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-between;
	margin: 0vw 5vw;
}
.row2_col > span {
	margin-bottom: 0.8vw;
}
#foot_copyright {
	margin-top: -1.5vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#foot_copyright > p {
	color: #fff;
	font-size: 0.5vw;
	font-family: "Lucida Sans Unicode";
	padding: 0.5vw;
}
hr {
	margin: 2vw 0;
}
.teamsRef, .compRef{
	margin-bottom: 3vw;
	text-align: center;
	height: auto;
	font-family: "Lucida Sans Unicode";
	cursor: pointer;
}
.imgTeams {
	margin: 0vw 1vw 0vw -4vw;
	height: 2vw;
	width: auto;
}
.dateMatch {
	width: 8vw;
	height: auto;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 1vw 0vw 1vw 9vw;
	text-align: center;
	font-family: "Lucida Sans Unicode";
}
.matchDescription {
	text-align: center;
	font-family: "Lucida Sans Unicode";
}
.resultMatch{
	width: 5vw;
	height: auto;
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 1vw 0vw 1vw 10.5vw;
	font-family: "Lucida Sans Unicode";
	text-align: center;
	background: #bbb;
	color: #000;
	font-weight: bold;
}
#formDate {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
input[type=date]{
    background:  #aaa;
    margin-right: 3vw;
    border-radius: 10px;
    border: 1px solid #aaa;
	font-family: "Lucida Sans Unicode";
    font-size: 1.2vw;
}
button {
	background:  #222;
    margin-right: 3vw;
    border-radius: 10px;
    border: 1px solid #fff;
	font-family: "Lucida Sans Unicode";
    font-size: 1.2vw;
    width: 6.5vw;
    color: #fff;
    cursor: pointer;
}



/* Стили для анимации загрузки страницы  */

.loader {
  position: relative;
  display: inline-block;
  margin-top: 2vw;
  margin-left:  45vw;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  
  animation: spin 0.75s infinite linear;
}
.loader::before,
.loader::after {
  left: -2px;
  top: -2px;
  display: none;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  border: inherit;
  border-radius: inherit;
}

.loader-img,
.loader-img::before,
.loader-img::after {
  display: inline-block;
  border-color: transparent;
  border-top-color: #fff;
  animation-duration: 1.2s;
}
.loader-img::before {
  transform: rotate(120deg);
}
.loader-img::after {
  transform: rotate(240deg);
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
}